/* Taychons classes extracted */

/* Typography */
.f1 {
	font-size: 3rem;
}

.f6 {
	font-size: 0.92rem;
}

.lh-title {
	line-height: 1.25;
}

.lh-copy {
	line-height: 1.5;
}

.gray {
	color: #777;
}

.mid-gray {
	color: #555;
}

/* Layout - Margins */
.mt2 {
	margin-top: 0.5rem;
}

.mt4 {
	margin-top: 2rem;
}

.mt6 {
	margin-top: 8rem;
}

.mr1 {
	margin-right: 0.25rem;
}

.mr2 {
	margin-right: 0.5rem;
}

.mb2 {
	margin-bottom: 0.5rem;
}

.mb4 {
	margin-bottom: 2rem;
}

.mb6 {
	margin-bottom: 8rem;
}

.pb1 {
	padding-bottom: 0.25rem;
}

.pb3 {
	padding-bottom: 1rem;
}

.ph0 {
	padding-left: 0;
	padding-right: 0;
}

/* Display */
.dib {
	display: inline-block;
}

/* Dimensions */
.w-100 {
	width: 100%;
}

/* Flex */
.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

/* Positioning */
.center {
	margin-left: auto;
	margin-right: auto;
}

/* Links */
.link {
	text-decoration: none;
	transition: color .15s ease-in;
}

.link:focus {
	outline: 1px dotted currentColor;
}

figure,
main {
	display: block
}

figure {
	margin: 1em 40px
}

.w-75 {
	width: 75%;
}

.h-75 {
	height: 75%;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.content img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.border-box,
a,
article,
aside,
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
legend,
li,
main,
nav,
ol,
p,
pre,
section,
table,
td,
textarea,
th,
tr,
ul {
	box-sizing: border-box
}

/* --------------------------- */
:root {
	--ease: cubic-bezier(.82, 0, .12, 1);
	--azure: #6f92ba;
	--lightgray: #f7f7f7;
	--darkgray: #333;
	--selection: #777;
	--bs-heading-color: #333;
	--code-bg: #e0f2fe;
	--pastel-blue: #A2D2FF;
	--pastel-yellow: #FFD6A5;
	--pastel-purple: #CDB4DB;
	--pastel-red: #FFADAD;

}

/**
 * Reset
 */

/* ::selection {
	background-color: var(--selection);
	color: #fff;
} */

* {
	box-sizing: border-box;
}

body,
html {
	font-size: 16px;
	font-family: "Segoe UI", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* font-weight: 300; */
}

/**
Icons
*/
.icon::before {
	content: '';
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: sub;
}

.fa-file-invoice::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' fill='%23777'><path d='M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM80 64l64 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L80 96c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l64 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-64 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm16 96l192 0c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32L96 352c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32zm0 32l0 64 192 0 0-64L96 256zM240 416l64 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-64 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/></svg>");
	width: calc(1em * 0.75);
	height: 1em;
}

.fa-arrow-right::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%236f92ba'><path d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/></svg>");
	width: calc(1em * (448/512));
	height: 1em;
}

.fa-envelope::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23777'><path d='M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z'/></svg>");
	width: calc(1em * (512/512));
	height: 1em;
}

.fa-calendar-days::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23777'><path d='M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z'/></svg>");
	width: calc(1em * (512/512));
	height: 1em;
}

.fa-github::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='%23777'><path d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3 -1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'/></svg>");
	width: calc(1em * (496/512));
	height: 1em;
}

.fa-linkedin::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23777'><path d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'/></svg>");
	width: calc(1em * (448/512));
	height: 1em;
}

.fa-instagram::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23777'><path d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/></svg>");
	width: calc(1em * (448/512));
	height: 1em;
}

.fa-basketball::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23777'><path d='M86.6 64l85.2 85.2C194.5 121.7 208 86.4 208 48c0-14.7-2-28.9-5.7-42.4C158.6 15 119 35.5 86.6 64zM64 86.6C35.5 119 15 158.6 5.6 202.3C19.1 206 33.3 208 48 208c38.4 0 73.7-13.5 101.3-36.1L64 86.6zM256 0c-7.3 0-14.6 .3-21.8 .9C238 16 240 31.8 240 48c0 47.3-17.1 90.5-45.4 124L256 233.4 425.4 64C380.2 24.2 320.9 0 256 0zM48 240c-16.2 0-32-2-47.1-5.8C.3 241.4 0 248.7 0 256c0 64.9 24.2 124.2 64 169.4L233.4 256 172 194.6C138.5 222.9 95.3 240 48 240zm463.1 37.8c.6-7.2 .9-14.5 .9-21.8c0-64.9-24.2-124.2-64-169.4L278.6 256 340 317.4c33.4-28.3 76.7-45.4 124-45.4c16.2 0 32 2 47.1 5.8zm-4.7 31.9C492.9 306 478.7 304 464 304c-38.4 0-73.7 13.5-101.3 36.1L448 425.4c28.5-32.3 49.1-71.9 58.4-115.7zM340.1 362.7C317.5 390.3 304 425.6 304 464c0 14.7 2 28.9 5.7 42.4C353.4 497 393 476.5 425.4 448l-85.2-85.2zM317.4 340L256 278.6 86.6 448c45.1 39.8 104.4 64 169.4 64c7.3 0 14.6-.3 21.8-.9C274 496 272 480.2 272 464c0-47.3 17.1-90.5 45.4-124z'/></svg>");
	width: calc(1em * (512/512));
	height: 1em;
}

.fa-earth-americas::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23777'><path d='M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5l0 39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9l0 39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7l0-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1L257 256c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c 8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z'/></svg>");
	width: calc(1em * (512/512));
	height: 1em;
}

.fa-searchengin::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 512' fill='%23777'><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d='M220.6 130.3l-67.2 28.2V43.2L98.7 233.5l54.7-24.2v130.3l67.2-209.3zm-83.2-96.7l-1.3 4.7-15.2 52.9C80.6 106.7 52 145.8 52 191.5c0 52.3 34.3 95.9 83.4 105.5v53.6C57.5 340.1 0 272.4 0 191.6c0-80.5 59.8-147.2 137.4-158zm311.4 447.2c-11.2 11.2-23.1 12.3-28.6 10.5-5.4-1.8-27.1-19.9-60.4-44.4-33.3-24.6-33.6-35.7-43-56.7-9.4-20.9-30.4-42.6-57.5-52.4l-9.7-14.7c-24.7 16.9-53 26.9-81.3 28.7l2.1-6.6 15.9-49.5c46.5-11.9 80.9-54 80.9-104.2 0-54.5-38.4-102.1-96-107.1V32.3C254.4 37.4 320 106.8 320 191.6c0 33.6-11.2 64.7-29 90.4l14.6 9.6c9.8 27.1 31.5 48 52.4 57.4s32.2 9.7 56.8 43c24.6 33.2 42.7 54.9 44.5 60.3s.7 17.3-10.5 28.5zm-9.9-17.9c0-4.4-3.6-8-8-8s-8 3.6-8 8 3.6 8 8 8 8-3.6 8-8z'/></svg>");
	width: calc(1em * (512/512));
	height: 1em;
}

/**
 * HLJS
 */

/*!
  Theme: Rosé Pine Dawn
  Author: Emilia Dunfelt <sayhi@dunfelt.se>
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/

/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme ros-pine-dawn
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/

/*
base00  #faf4ed  Default Background
base01  #fffaf3  Lighter Background (Used for status bars, line number and folding marks)
base02  #f2e9de  Selection Background
base03  #9893a5  Comments, Invisibles, Line Highlighting
base04  #6e6a86  Dark Foreground (Used for status bars)
base05  #575279  Default Foreground, Caret, Delimiters, Operators
base06  #555169  Light Foreground (Not often used)
base07  #26233a  Light Background (Not often used)
base08  #1f1d2e  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #b4637a  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #ea9d34  Classes, Markup Bold, Search Text Background
base0B  #d7827e  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #286983  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #56949f  Functions, Methods, Attribute IDs, Headings
base0E  #907aa9  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #c5c3ce  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/

pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
}

code.hljs {
	padding: 3px 5px;
}

.hljs {
	color: #575279;
	background: #faf4ed;
}

.hljs::selection,
.hljs ::selection {
	background-color: #f2e9de;
	color: #575279;
}


/* purposely do not highlight these things */
.hljs-formula,
.hljs-params,
.hljs-property {}

/* base03 - #9893a5 -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
	color: #9893a5;
}

/* base04 - #6e6a86 -  Dark Foreground (Used for status bars) */
.hljs-tag {
	color: #6e6a86;
}

/* base05 - #575279 -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
	color: #575279;
}

.hljs-operator {
	opacity: 0.7;
}

/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
	color: #1f1d2e;
}

/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
	color: #b4637a;
}

/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
	color: #ea9d34;
}

.hljs-strong {
	font-weight: bold;
	color: #ea9d34;
}

/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
	color: #d7827e;
}

/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag,
/* guessing */
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
	color: #286983;
}

/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
	color: #56949f;
}

/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
.hljs-type,
/* .hljs-selector-id, */
/* .hljs-selector-class, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
	color: #907aa9;
}

.hljs-emphasis {
	color: #907aa9;
	font-style: italic;
}

/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
/*
	prevent top level .keyword and .string scopes
	from leaking into meta by accident
*/
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
	color: #c5c3ce;
}

.hljs-meta .hljs-keyword,
/* for v10 compatible themes */
.hljs-meta-keyword {
	font-weight: bold;
}

/**
 * Elements
 */

#main a {
	color: var(--azure);
	text-decoration: none;
	position: relative;
	transition: color .4s, opacity 0.1s ease;
	outline: none !important;
	display: inline-block;
}

#main a:hover {
	text-decoration: none;
}

#main a:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2px;
	height: 1px;
	background-color: var(--azure);
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.2s ease, opacity 0.1s ease;
}

#main a:hover:before {
	transform: scaleX(1);
}

/* Blink effect - affects both the link and its :before element */
#main a:active,
#main a:active:before {
	opacity: 0;
}

#main b,
#main strong {
	font-weight: 600;
}

#main code {
	padding: 0 .2rem;
}

#main pre code {
	padding: 1rem;
}

.index {
	text-decoration: none !important;
	background-color: transparent !important;
}

.index-logo {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

img,
svg {
	vertical-align: middle;
}


hr {
	margin: 1rem 0;
	opacity: .25
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	color: var(--bs-heading-color)
}

.h1,
h1 {
	font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {

	.h1,
	h1 {
		font-size: 2.5rem
	}
}

.h2,
h2 {
	font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {

	.h2,
	h2 {
		font-size: 2rem
	}
}

.h3,
h3 {
	font-size: calc(1.3rem + .6vw)
}

@media (min-width:1200px) {

	.h3,
	h3 {
		font-size: 1.75rem
	}
}

.h4,
h4 {
	font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {

	.h4,
	h4 {
		font-size: 1.5rem
	}
}

.h5,
h5 {
	font-size: 1.25rem
}

.h6,
h6 {
	font-size: 1rem
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}


/**
 * Chrome Scrollbar
 */

::-webkit-scrollbar {
	display: none;
}


/**
 * Skeleton
 */

#main hr {
	/* border-top: none; */
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
	max-width: 48rem !important;
}


/* Style for the header's content area (title, description, etc.) */
#header .content {
	max-width: 36rem;
	margin-left: auto;
	margin-right: auto;
}

/* Let the figure break out of the header's width constraints */
#header figure.header-figure {
	max-width: 42rem;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

figure.header-figure {
	background-color: #f0f0f0;
	position: relative;
	max-width: 42rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

/* Style for the image itself */
#header figure.header-figure img {
	width: 100%;
	height: auto;
	display: block;
}

/* Nav styles remain the same */
.nav-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 36rem;
	margin-left: auto;
	margin-right: auto;
}

.nav-home {
	position: absolute;
	top: -4px;
	left: -36px;
}

.nav-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

#header nav {
	display: flex;
	justify-content: space-between;
}

#header a {
	padding: 1px 2px;
	transition: all .15s ease-in-out;
}

#header a:hover,
#header a:focus {
	background-color: rgba(119, 119, 119, .7);
	color: #fff;
}

#header a.active {
	background-color: #777;
	color: #fff;
}

#main>ul,
#main .content.custom>* {
	max-width: 36rem;
	margin-left: auto;
	margin-right: auto;
}

#main .content.custom pre,
#main .content.custom figure,
#main .content.custom blockquote,
#main .content.custom video {
	max-width: 38rem;
}

#main .header-figure {
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
}

#main .content.custom video {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#main .content.custom figure>a>img {
	transition: filter .2s;
}

#main .content.custom figure>a>img:hover {
	filter: blur(1px) opacity(0.9);
}


/**
 * Code
 */

code {
	font-size: 0.875em !important;
	font-family: Inconsolata, monospace !important;
	border-radius: 2px;
	padding: .2rem .3rem;
	background-color: var(--code-bg);
	tab-size: 2;
}

code {
	white-space: nowrap;
}

pre code {
	white-space: pre;
}

pre code {
	display: block;
	padding: 1rem;
}

pre {
	overflow: auto;
	overflow-wrap: break-word;
	border-radius: 6px;
	background-color: var(--lightgray);
}

pre code .line {
	opacity: 0.85;
}

/* Style for code blocks */
pre>code {
	border-radius: 5px;
	background-color: var(--lightgray);
}

:not(pre)>code {
	border: 0.5px solid #ccc;
	padding: 3px;
}



/**
 * Blockquote
 */

blockquote {
	background-color: var(--lightgray);
	padding: 1rem;
	font-style: italic;
}

/**
 * Table
 */

/* Table styling */
table {
	width: 100%;
	border-collapse: collapse;
	/* Ensures borders do not have gaps between cells */
	margin-bottom: 1.5rem;
}

th,
td {
	border: 1px solid var(--darkgray);
	/* Sets a visible border for table cells */
	padding: 0.5rem;
	/* Adds some padding for readability */
	text-align: left;
	/* Align text to the left */
}

th {
	background-color: var(--lightgray);
	/* Adds a background color for the header */
	font-weight: 600;
	/* Makes the header bold */
}

td {
	background-color: #fff;
	/* Ensures table cells have a white background */
}

/* Optional: Add hover effect for table rows */
td:hover {
	background-color: var(--pastel-yellow);
}

/* If hovering over the 0th column, highlight the entire row */
td:first-child:hover {
	background-color: inherit;
	/* Remove the highlight from the first cell */
}

td:first-child:hover~td {
	background-color: var(--pastel-yellow);
	/* Highlight the rest of the row */
}


/**
 * Custom Tags
 */


.giscus {
	margin-top: 5px;
}

/* Not working : needs to load afte tthe iframe*/
.gsc-reaction {
	align-items: flex-start !important;
}

.custom-tags {
	color: #777 !important;
	font-family: Inconsolata, monospace !important;
	border-radius: 2px;
	padding: .2rem .3rem;
	background-color: var(--lightgray);
	font-size: .875em;
	word-wrap: break-word;
}

/* Base styling for header image */
.blog-header-image {
	width: 100%;
	height: auto;
	display: block;
	aspect-ratio: 3440/1440;
	object-fit: cover;
	margin: 0;
	padding: 0;
}

/* #header figure.header-figure {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	max-width: 42rem;
	width: 100%;

	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 1rem;
} */

/* @media screen and (min-width: 1513px) {
	.f6 {
		font-size: .938rem !important;
	}
} */

@media only screen and (max-width: 768px) {

	html {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.nav-home {
		position: static;
		margin-left: -10px;
	}

}

@media only screen and (min-width: 769px) {

	.nav-home {
		position: absolute;
		top: -4px;
		left: -36px;
	}
}