<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="<!-- DESCRIPTION -->" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.json" />
  <meta http-equiv="content-language" content="en" />
  <meta name="author" content="Anubhab Patnaik" />
  <link rel="preload" href="/assets/css/style.min.css" as="style">
  <link rel="stylesheet" href="/assets/css/style.min.css">
  <link rel="stylesheet" href="/assets/css/tachyons.min.css">
  <title><!-- TITLE --></title>
</head>

<body class="markdown-body">
  <div class="f6">
    <header id="header" class="center mt6 mb4">
      <nav class="nav-wrapper">
        <div class="mb2 dib">
          <a href="/" title="home" class="index nav-home">
            <img src="/android-chrome-192x192.png" alt="logo" class="mr1 index-logo" />
          </a>
          <a href="/current.html" title=" What's up?
            " class="gray link">/current</a>

          <a href="/blog"
            title="The magic and storms that shaped my journey- life, technology and everything in between"
            class="gray link">/blog</a>

          <a href="/about.html" title=" More
            " class="gray link">/about</a>
        </div>
        <div class="mb2 dib">
          <i class="fa-brands fa-searchengin icon mr2"></i>
          <a href="/blog/feed.xml" title="anubhab" class="rss gray link">/rss</a>
        </div>
      </nav>
    </header>
    <section id="main" class="page-post gray mb6 lh-copy">
      <main>
        <figure class="header-figure">
          <img src="/assets/img/<!-- IMAGE -->" alt="<!-- TITLE -->" class="w-100" />
        </figure>
        <div class="content custom">
          <div class="search-container"></div>
          <!-- CONTENT -->
        </div>
      </main>
    </section>
  </div>
  <script src="/assets/js/main.min.js" defer></script>
  <script src="/assets/js/search.min.js" defer></script>

  <!-- JSON-LD -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "<!-- TITLE -->",
      "description": "<!-- DESCRIPTION -->",
      "image": "https://anubhavp.dev/assets/img/<!-- IMAGE -->",
      "datePublished": "<!-- DATE -->",
      "author": {
        "@type": "Person",
        "name": "Anubhab Patnaik",
        "url": "https://anubhavp.dev/about.html",
        "@id": "https://anubhavp.dev/#person"
      },
      "publisher": {
        "@type": "Person",
        "name": "Anubhab Patnaik",
        "@id": "https://anubhavp.dev/#person",
        "logo": {
          "@type": "ImageObject",
          "url": "https://anubhavp.dev/android-chrome-192x192.png"
        }
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://anubhavp.dev/<!-- BLOGSLUG -->.html"
      },
      "keywords": [
        "<!-- TAGS -->"
      ]
    }
    </script>
</body>

</html>