@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

.container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-box {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    flex-grow: 1;
}

.gear-icon {
    cursor: pointer;
    margin-left: 10px;
}

.result {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #ccc;
    /* White text color */
    padding: 8px 12px;
    /* Adds some padding around the text */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 14px;
    /* Adjust font size as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    /* Optional shadow for depth */
    z-index: 1000;

    transition: opacity 0.2s ease;

}